<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>index</title>


<title>index</title>

<style>

    .container  {
        background-color: yellow;
        width: 970px;
        height: 1000px;
        display: inline-block;
        vertical-align:top;
        border: 1 px solid blue;
        padding: 30px;
        margin:0px;
    }


    .box    {
        background-color: blue;
        width: 275px;
        height: 275px;
        display: inline-block;
        vertical-align:top;
        border: 1 px solid blue;
        padding: 10px;
        margin:10px;
    }

    </style>

</head>

<body>


    
<h1>Welcome</h1>  
<div class="container">
      
{% for x in range(multiply): %}
        <div class="box">I LOVE BOXES</div>
{% endfor %}

</div>

</body>

</html>